img {
  margin-top: 5px;
  max-width: 150px;
  align-self: center;
}

.bookCard {
  display: flex;
  flex-wrap: wrap;
}

.singleBook {
  margin: 5px;
  text-align: center;
}

.mb-3 {
  margin-left: 10px;
}
