.note-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value as needed for vertical centering */
  background-color: #f0f0f0; /* Background color for the entire page */
}

.note-page {
  text-align: center; /* Center text and content within the component */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff; /* Background color for the component */
  max-width: 600px; /* Adjust the maximum width as needed */
  width: 100%;
}
